.time-selector {
  width: 100%;
  border: 1px solid var(--color-gray-20);
  border-radius: var(--spacing-xs);
  overflow: hidden;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.tab {
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-md);
  font-size: var(--font-sm);
  color: var(--color-gray-25);
  line-height: 1;
  border: none;
  background-color: var(--color-gray-10);
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &.active {
    color: var(--color-black);
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-black);
  }
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: var(--spacing-xs);
  padding: var(--spacing-sm);
  background-color: var(--color-white);
}

.time-slot {
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-xs);
  font-size: var(--font-sm);
  text-align: center;
  line-height: 1;
  border: 1px solid var(--color-gray-25);
  border-radius: var(--spacing-xxs);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;

  @media (any-hover: hover) {
    &:hover:not(.selected) {
      background-color: var(--color-hover);
      border-color: var(--color-hover);
      color: var(--color-white);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-black);
    outline-offset: 2px;
  }

  &.selected {
    background-color: var(--color-select);
    color: var(--color-white);
    border-color: var(--color-select);
    cursor: default;
    pointer-events: none;

    &:focus-visible {
      outline: 2px solid var(--color-black);
      outline-offset: 2px;
    }
  }
}
