.calendar {
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.monthYear {
  font-weight: 500;
  font-size: 1.1rem;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  padding: 0.5rem;
}

.daysOfWeek,
.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.daysOfWeek {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #888;
  font-weight: 500;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: auto;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:focus-visible {
    background-color: var(--color-hover);
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-hover);
      color: #fff;
    }
  }
}

.selected {
  background-color: #8a7a5a;
  color: #fff;

  &:focus-visible {
    background-color: var(--color-hover);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-hover);
    }
  }
}
