.container {
  padding-block: var(--spacing-3xl) var(--spacing-3xl);
  padding-inline: var(--spacing-lg);
}

.section-title {
  margin-block-end: var(--spacing-lg);
  padding-block: var(--spacing-xl) var(--spacing-sm);
  padding-inline: var(--spacing-sm);
  font-size: var(--font-3xl);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-60);
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.page-description {
  margin-block-end: var(--spacing-xl);
  font-size: var(--font-base);
  font-weight: var(--font-weight-regular);
  text-align: center;
  line-height: 1.8;
}

.news-list {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xs);
  margin-block-end: var(--spacing-xl);
}

.news-item {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;

  &:focus-visible {
    color: var(--color-hover);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-hover);
    }
  }
}

.news-image {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}

.news-text {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xs);
  align-content: start;
}

.news-subtitle {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.01em;
}

.news-excerpt {
  font-size: var(--font-xs);
}

.pagination {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  font-size: var(--font-xs);
  line-height: 1;
}

.page-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: var(--font-xl);
  font-weight: normal;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm);
  line-height: 1;
  transition: color 0.3s;

  &:focus-visible {
    color: var(--color-hover);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-hover);
    }
  }

  &:disabled {
    color: var(--color-gray-20);
    cursor: not-allowed;
  }
}
