.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--spacing-2xl) + var(--spacing-xxs));
  z-index: 1000;
  mix-blend-mode: exclusion;
}

.logo {
  position: absolute;
  left: var(--spacing-sm);
  top: 100%;
  transform: translateY(-50%);
  transform-origin: top left;
  z-index: 10;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.logo-scrolled {
  transform: translateY(-50%) scale(0.7);
  top: 75%;
}

.menu-button {
  position: fixed;
  top: var(--spacing-xxs);
  right: var(--spacing-sm);
  z-index: 1002;
  border: none;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  gap: var(--spacing-xs);
  width: calc(var(--spacing-2xl) - var(--spacing-xxs));
  height: calc(var(--spacing-2xl) - var(--spacing-xxs));
  padding-inline: var(--spacing-xxs);

  &.is-open .menu-line:nth-child(1) {
    transform: translateY(var(--spacing-xxs)) rotate(45deg);
  }

  &.is-open .menu-line:nth-child(2) {
    transform: translateY(calc(var(--spacing-xxs) * -1)) rotate(-45deg);
  }
}

.menu-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform-origin: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);

  &.is-open {
    transform: translateY(0);
  }

  & li {
    margin-bottom: 2.5rem;
  }

  & a {
    font-size: 1.8rem;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}

.nav-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  max-height: 500px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sns-links {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
