.footer {
  padding-block: var(--spacing-xl);
  padding-inline: var(--spacing-lg);
}

.footer-wrapper {
  margin-inline: auto;
  padding-block-start: var(--spacing-lg);
  border-top: 1px solid var(--color-gray-10);
  text-align: center;
}

.info {
  margin-block-end: var(--spacing-lg);

  p {
    margin-block-end: var(--spacing-md);
    font-size: var(--font-xs);
  }
}

.hours {
  margin-block-end: var(--spacing-lg);

  p {
    margin-block-end: var(--spacing-xxs);
    font-size: var(--font-xs);
  }
}

.sns-links {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  justify-content: center;
  gap: var(--spacing-lg);
  margin-block-end: var(--spacing-lg);

  & a {
    color: var(--color-sns);
    transition: color 0.2s ease;

    &:focus-visible {
      color: var(--color-hover);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-hover);
      }
    }
  }

  & svg {
    vertical-align: middle;
  }
}

.youtube-fix {
  display: inline-block;
  transform: translateY(2px);
}

.copyright {
  font-size: var(--font-xxs);
  color: var(--color-gray-30);
}
