.footer {
  padding: var(--spacing-xl);
}

.footer-wrapper {
  margin-inline: auto;
  padding-block-start: var(--spacing-lg);
  border-top: 1px solid var(--color-gray-10);
  text-align: center;
}

.info {
  margin-block-end: var(--spacing-lg);

  p {
    margin-block-end: var(--spacing-md);
    font-size: var(--font-xs);
  }
}

.hours {
  margin-block-end: var(--spacing-lg);

  p {
    margin-block-end: var(--spacing-xxs);
    font-size: var(--font-xs);
  }
}

.sns-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: var(--spacing-md);
  margin-block-end: var(--spacing-lg);

  & a {
    color: #707070;
    transition: color 0.2s ease;

    &:focus-visible {
      color: var(--color-hover);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-hover);
      }
    }
  }
}

.copyright {
  font-size: var(--font-xxs);
  color: var(--color-gray-25);
}
